html{
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #333;
    background: url(image/images.jpg);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

span{
    color: #deb547;
    font-weight: bold;
}

.third{
    font-size: 1.5rem;
    color: white;
    margin: 20px 0;
    position: relative;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

img{
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 10px;
    align-items: center;
    border: white 2px solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

img:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

button{
    background-color: #2980b9;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
   display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

button:hover{
    background-color: #1f313d;
    color: #deb547;
    transform: scale(1.05);     
}

.header{
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 10px;
}
nav {
    border: 2px solid #eeeeee;
  }
  
  nav a {
    text-decoration: none;
    color: #ffffff;
    border: 2px solid rgb(96 139 168);
    border-radius: 5px;
    background-color: rgb(96 139 168 / 0.2);
    padding: 10px;
    display: block;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  